parameters:
    level: 5
    phpVersion: 80100
    paths:
        - .
    excludePaths:
        - vendor/*
        - dev/*
        - assets/*
        - node_modules/*
        - dist/*
        - packages/php-fault-tolerance/*
        - tests/*
